.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Local .env files
.env

# MQTT Broker files
mqtt_broker/config/pwfile
mqtt_broker/config/aclfile
mqtt_broker/data
mqtt_broker/log

# Nodered
node-red